<footer class="footer is-fixed-bottom">
    <div class="content has-text-centered">
      <p>
        <strong>Sitio web hecho</strong> por <a href="https://miro.medium.com/v2/resize:fit:786/0*ngAthWxOvKZHvsw9" target="_blank">Anthony  Hackerlang</a>.
      </p>
    </div>
  </footer>
</body>
</html>