<%- include("templates/header") %>

<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          404 P치gina no encontrada
        </h1>
        <h2 class="subtitle">
          La p치gina que est치s buscando no existe.
        </h2>
        <a href="/" class="button is-primary">
          Volver a la p치gina de inicio
        </a>
      </div>
    </div>
  </section>
    
<%- include("templates/footer") %>
