<%- include("templates/header") %>
<div class="columns m-3 p-5 is-centered">
    <div class="column is-narrow">
      <div class="card p-4">
        <div class="card-content">
          <div class="content">
            <form action="/busqueda" method="POST">
              <h1>Reportes Envios por empresa</h1>
          <div class="field">
            <label class="label">Selecione una empresa para ver su historial de envios</label>
            <div class="control">
                <div class="select">
                    <select name="codempresa" id="codempresa">
                        <% for (var i =0; i<empresas.length; i++){%>
                             <option value="<%=empresas[i].codempresa %>"><%=empresas[i].nombre%></option>
                          <%}%>
                    </select>
                  </div>
            </div>
          </div>
            <button type="submit" class="button is-info is-outlined">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("templates/footer") %>
